@import url('https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap');

.header_name {
  font-family: 'Playwrite PE', cursive;
}

.myAnimation {
  animation: fadeIn 300ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}